.cd-blog_layout {
  margin: 0 auto;
}
.cd-blog_header {
  width: 100%;
  padding: 28px 0 25px 0;
  // background-color: red;
  &.isfixed {
    box-shadow: 0 0 0 1px hsla(240, 0%, 100%, 0.3) inset,
      0 2px 1px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
.cd-blog_content {
  overflow: hidden;
}
.cd-blog_body {
  padding: 0 110px 0 110px;
}
.cd-blog_bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
@media (max-width: 1000px) and (min-width: 769px) {
}
.flex {
  display: flex;
}
